# Deployment environment template
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ARBITRUM_ONE_RPC_URL=https://arb1.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=replace_with_a_wallet_private_key_for_local_deployment
